node_modules/
.env
.galcode/
outputs/
work/
dist/
*.log
.DS_Store
docs/.DS_Store
figure/.DS_Store

vendor/webgal-mygo/node_modules/
vendor/webgal-mygo/packages/webgal/node_modules/
vendor/webgal-mygo/packages/parser/node_modules/
vendor/.DS_Store
